{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}

<section class="event-info">

<br><br>

    <div class="row">
      <div class="col-lg-4">
        <div class="mancha-home">
          <img src="images/mancha-izq.png" alt="" class="img-fluid" width="350">       
        </div>
      </div>

      <div class="col-lg-8 textos-home seccion-1">
        <div class="event-content ">
  
          <h2 class="event-content title2">En este trabajo en conjunto, ¡sólo faltas tú!</h2>
      
      
          <p>Code 4 DEI está dirigido a personas subrepresentadas involucradas en el desarrollo de software, empresas y organizaciones tecnológicas, estudiantes y cualquier profesionista de TI que pertenezca a algún grupo vulnerable.
          </p>
      
          <p>Cualquier persona que quiera desarrollarse o que ya se desempeñe en TI, <strong>encontrará un espacio seguro</strong>, donde podrá unirse a la conversación de manera cómoda y <strong>sin temor alguno</strong>. Code 4 DEI es un espacio para aprender y contribuir.</p>
      
          <p>Así que, tú también puedes sumarte a Code 4 DEI si quieres adquirir aprendizaje o compartir tu experiencia sobre:</p>
      
        </div>
      </div>
      
    </div>
        
        <div class="row">
          <div class="col-lg-8 textos-home seccion-2">
            <div class="card border-0 bg-transparent">
              <div class="card-body" >
                <li><strong>Cómo generar conciencia</strong> sobre la necesidad de tener una industria tecnológica más diversa e inclusiva.</li>
                <li><strong>Descubrir los beneficios de la diversidad, equidad e inclusión</strong> en la innovación, la creatividad y el éxito empresarial.</li>
                <li><strong>Fomentar el diálogo y la colaboración</strong> entre sociedad e industria y encontrar soluciones conjuntas para promover la inclusión.</li>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mancha-home">
              <img src="images/mancha-derecha.png" alt="" class="img-fluid" width="300" style="float: right;">
            </div>
          </div>
        </div>
   
    <div class="row">
      <div class="col-lg-4">
        <div class="mancha-home">
          <img src="images/mancha-izq.png" alt="" class="img-fluid" width="300">
        </div>
      </div>
      <div class="col-lg-8 textos-home seccion-1">
        <div class="card border-0 bg-transparent ">
          <div class="card-body ">
            <li><strong>Encontrar conocimientos y herramientas prácticas</strong> que te ayuden a abordar los desafíos de la diversidad, equidad e inclusión.</li>
            <li><strong>Obtener oportunidades de networking y mentoría</strong> para conectarte y fomentar el desarrollo de talento diverso así como promover la igualdad de oportunidades.</li>
            <li><strong>Descubrir las técnicas de reclutamiento y retención de talento diverso</strong>, que actualmente las empresas implementan en el lugar de trabajo, así como sus buenas prácticas para promover la diversidad, etcétera.</li>
          </div>
        </div>
      </div>
    </div>

    <!-- /section 2 -->

  </div>

<br><br><br><br>
  
</section>
{{ end }}