{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}

<section class="event-info">

<br><br>

  <div class="container">

    <!-- section 1 -->

    <div class="event-content section1 text-center">

    <h2 class="event-content title1">El software grandioso es diverso, equitativo e incluyente.</h2>

    <p>Code 4 DEI es un evento que busca promover la inclusión en todos los niveles y eliminar barreras para alcanzar todo el potencial de la industria y fomentar la innovación.</p>

    <p>También es impulsado por SG4Women que, además de apoyar la participación de las mujeres en las tecnologías de la información mediante Dev Day 4 Women, ahora busca impulsar Code 4 DEI para promover las diferentes actividades de inclusión que tanto comunidades como empresas han comenzado a implementar.</p>
      
    <p>Code 4 DEI, incluso las futuras generaciones que se interesan por las tecnologías de la información podrán encontrar la inspiración y empoderarse para que persigan carreras en este campo, independientemente de su género, origen étnico, orientación sexual u otras características.</p>

    <br><br>

    </div>
    
    <!-- /section 1 -->

    
    <!-- section 2 -->

    <div class="event-content section2 text-center">

    <h2 class="event-content title2">En este trabajo en conjunto sólo faltas tú</h2>


    <p>Es claro que hay mucho por aprender. Por eso, Code 4 DEI está en el entendido de que todos estamos en este camino. Estamos aprendiendo y conociendo todo lo que falta por hacer y las mejores prácticas a seguir.</p>

    <p>Cualquier persona que quiera desarrollarse o que ya se desempeñe en TI, encontrará un espacio seguro, donde podrá unirse a la conversación de manera cómoda y sin temor alguno.</p>

    <p>Así que, tú también puedes sumarte a Code 4 DEI si quieres aprender más sobre:</p>

<center>
    <div class="row">
      <div class="col-sm-6">
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <li>Cómo generar conciencia sobre la necesidad de tener una industria tecnológica más diversa e inclusiva.</li>
            <li>Descubrir los beneficios de la diversidad, equidad e inclusión en la innovación, la creatividad y el éxito empresarial.</li>
            <li>Fomentar el diálogo y la colaboración entre sociedad e industria y encontrar soluciones conjuntas para promover la inclusión.</li>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <li>Encontrar conocimientos y herramientas prácticas que te ayuden a abordar los desafíos de la diversidad, equidad e inclusión.</li>
            <li>Obtener oportunidades de networking y mentoría para conectarte y fomentar el desarrollo de talento diverso así como promover la igualdad de oportunidades.</li>
            <li>Descubrir las técnicas de reclutamiento y retención de talento diverso, que actualmente las empresas implementan en el lugar de trabajo, así como sus buenas prácticas para promover la diversidad, etcétera.</li>
          </div>
        </div>
      </div>
    </div>
  </center>

    </div>
    

    <!-- /section 2 -->

  </div>

<br><br><br><br>
  
</section>
{{ end }}