{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}

<section class="event-info">

  <br><br>

  <div class="row">
    <div class="col-lg-4">
      <div class="mancha">
        <img src="images/mancha-izq.png" alt="" class="img-fluid" width="350">
      </div>
    </div>

    <div class="col-lg-8 textos-home seccion-1">
      <div class="event-content ">

        <h2 class="event-content title2">¿Cómo lo hacemos en Code 4 DEI?</h2>
        <br>
 

        <p>En Code 4 DEI trabajamos de forma activa y colaborativa para construir una industria tecnológica más diversa,
          equitativa e incluyente. Sabemos que aún hay barreras por derribar, por eso abrimos espacios seguros donde las
          personas subrepresentadas puedan aprender, crecer y ser parte de la transformación.</p>


      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-8 textos-home seccion-2">
      <div class="card border-0 bg-transparent">
        <div class="card-body">
          <ul style="list-style-type: none;">
            <li>⚪Creamos comunidad. Aquí, cualquier persona que ya esté en tecnología o desee
              entrar, encuentra un entorno seguro donde puede desarrollarse sin temor, compartir sus experiencias y
              generar
              conciencia sobre la importancia de una industria más diversa.</li>
            <li>⚪ Diseñamos espacios de visibilidad y diálogo. Organizamos actividades que abordan los desafíos que
              enfrentan las personas LGBTQ+, con discapacidad, neurodivergentes y otros grupos vulnerables en el entorno
              laboral y tecnológico.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="mancha">
        <img src="images/mancha-derecha.png" alt="" class="img-fluid" width="300" style="float: right;">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="mancha">
        <img src="images/mancha-izq.png" alt="" class="img-fluid" width="300">
      </div>
    </div>
    <div class="col-lg-8 textos-home seccion-1">
      <div class="card border-0 bg-transparent ">
        <div class="card-body ">
          <ul style="list-style-type: none;">
            <li>⚪ Acompañamos procesos. Impulsamos programas de mentoría para fortalecer el desarrollo personal y
              profesional de personas diversas, ofreciendo orientación, confianza y redes de apoyo.</li>

            <li>⚪ Educamos y empoderamos. Brindamos capacitación en habilidades tecnológicas de alta demanda, acercando
              herramientas prácticas que mejoran la empleabilidad y abren puertas reales en el sector.</li>
            <li>⚪Incidimos y proponemos. Participamos en foros y colaboramos con empresas y organizaciones para impulsar
              políticas y prácticas inclusivas.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- /section 2 -->

  </div>

  <br><br><br><br>

</section>
{{ end }}