{{ define "main" }}

{{ $data := index .Site.Data }}

<!-- banner -->

{{ with $data.homepage.banner }}

<section class="banner">

    <div class="col-auto img-logo">
      <br>
      <img src="{{ .img | markdownify }}" class="img-fluid logo-a">
      <h2 class="titulo-hero" >CODE 4 DEI</h2>

      <!--<a href="/sessions/2023/" class="btn btn-banner1 mt-3 ml-4" style="background-color:#E7247B !important; border-radius: 20px; color: white !important;">Sesiones anteriores</a>-->
    </div>

</section>

<center>
<section class="dates">
    <div class="row container col-auto text-center ">
      <div class="col-sm-6">
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <p class="card-text">{{ .venue | markdownify }}</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <p class="card-text">{{ .where | markdownify }}</p>  
          </div>
        </div>
      </div>
    </div>

    <img src="images/linea.png" alt="" class="img-fluid">





    <div class="event-content section1 text-center container ">

      <h2 class="event-content title1" style="color: white !important;">¿Qué es Code 4 DEI?</h2>
    <br>
    <p>Code 4 DEI es una iniciativa que busca promover la inclusión y el desarrollo en todos los niveles de la industria tecnológica, concientizando a quienes no pertenecen a grupos vulnerables y eliminar barreras para alcanzar todo su potencial y fomentar la innovación.</p>


    <p>Como escenario de la iniciativa nuestro, llevamos a cabo el primer evento de Code 4 DEI con el objetivo de impulsar una concientización entre organizaciones y profesionistas, incluso inspirar y empoderar a futuras generaciones que se interesan por las tecnologías de la información para que persigan carreras en el campo, independientemente de su identidad de género, orientación sexual, discapacidad, raza, origen étnico, edad, religión o situación económica u otras características.</p>
      
  
      <a href="/sessions/2023/" class="btn btn-banner1 mt-3 ml-4" style="background-color:#E7247B !important; border-radius: 20px; color: white !important;">Ver conferencias</a>
  
      <br><br>
  
    </div>
</section>
</center>
{{ end }}
<!-- /banner -->

<!-- event_info  -->
{{ if $data.homepage.event_info.enable }}
{{ partial "event_info.html" . }}
{{ end }}
<!-- /event_info -->

<!-- event_info  -->
{{ if $data.homepage.event_info.enable }}
{{ partial "blog.html" . }}
{{ end }}
<!-- /event_info -->


<!-- sponsor 
{{ if $data.sponsors }}
<section class="section-sponsors section" style="margin-top: -65px;">
    <br><br>
    <div class="container">
      <center>
        <h1>Patrocinadores</h1>
      </center>
      <br><br>
        {{ $data := index .Site.Data }}
        {{ with $data.sponsors }}
        {{ range .sponsor_group }}
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
              {{ with .title }}
              <h2 style="color: black; ">{{ . }}</h2>
           <br><br> 
                {{ end}}
            </div>
            <br>
            <div class="sponsor-strip {{ .slug }}" >
                {{ range .sponsor }}
                <div  class="sponsor-item" >
                    {{ if and (ne .link "") (ne .link "#") }}
                    <a href="{{ .link }}" target="_blank"><img src="{{ .logo | relURL }}" alt="" class="img-fluid"></a>
                    {{ else }}
                    <img src="{{ .logo | relURL }}" alt="" class="img-fluid">
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <br>
        </div>
        {{ end }}
        {{ if .sponsorship.enable }}
        {{ with .sponsorship }}
        <div class="col-lg-12">
            <a href="{{ .link | safeURL }}" class="btn btn-banner2" target="_blank">{{ .label }} <i
                    class="fas fa-arrow-circle-right"></i></a>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
 /sponsor -->




{{ end }}

