{{ define "main" }}

{{ $data := index .Site.Data }}

<!-- banner -->

{{ with $data.homepage.banner }}

<section class="banner">

  <div class="col-auto img-logo">
    <br>
    <img src="{{ .img | markdownify }}" class="img-fluid logo-a">
    <h2 class="titulo-hero">CODE 4 DEI</h2>

    <!--<a href="/sessions/2023/" class="btn btn-banner1 mt-3 ml-4" style="background-color:#E7247B !important; border-radius: 20px; color: white !important;">Sesiones anteriores</a>-->

    <h3 class="card-text">{{ .venue | markdownify }}</h3>
  </div>

</section>


<section class="dates">

  <!--<div class="row container col-auto text-center ">
      <div class="col-sm-6">
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <p class="card-text">{{ .venue | markdownify }}</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <p class="card-text">{{ .where | markdownify }}</p>  
          </div>
        </div>
      </div>
    </div>-->

  <img src="images/linea.png" alt="" class="img-fluid">





  <div class="event-content section1 container ">


    <p>En Code 4 DEI creemos que la diversidad impulsa la innovación. Esta iniciativa promueve la inclusión y el
      desarrollo en todos los niveles de la industria tecnológica, eliminando barreras y empoderando a quienes
      tradicionalmente han sido excluidos. Aquí, cada persona encuentra un espacio para aprender, conectar y brillar.
    </p>

    <h2 style="color: white !important;">Visión</h2>
    <p>En Code 4 DEI impulsamos una industria tecnológica inclusiva, equitativa e innovadora, eliminando barreras y
      visibilizando a grupos subrepresentados para que todas las personas sin importar su origen o identidad puedan
      desarrollarse, brillar y transformar el sector. </p>

    <h2 style="color: white !important;">Propositos</h2>

    <p>El proposito de Code 4 DEI es construir una industria tecnológica más equitativa e inclusiva, eliminando
      barreras estructurales y culturales que limitan el desarrollo de personas subrepresentadas. A través de la
      educación y la colaboración entre comunidad, empresas y profesionistas, buscamos fomentar la diversidad, la
      equidad y una representación real en todos los niveles de la industria. Además, nos comprometemos a medir y
      mejorar continuamente nuestras acciones, aprendiendo en el proceso y adaptándonos a los retos que plantea la
      transformación hacia un ecosistema más justo y representativo.</p>


    <h2 style="color: white !important;">Valores</h2>

    <ul style="color: white; list-style-type: none;">
      <li>⚪ Inclusión</li>
      <li>⚪ Respeto</li>
      <li>⚪ Equidad</li>
      <li>⚪ Colaboración</li>
      <li>⚪ Transparencia</li>
      <li>⚪ Aprendizaje continuo</li>
    </ul>


    <h2 class="event-content title1" style="color: white !important;">¿Qué es Code 4 DEI?</h2>
    <br>

    <p>Code 4 DEI es una iniciativa de Software Guru que impulsa la construcción de una industria tecnológica más inclusiva, equitativa e innovadora. Su propósito es generar conciencia en quienes no forman parte de grupos vulnerables sobre los desafíos reales que enfrentan otros, y eliminar las barreras que limitan el potencial de las personas.</p>

    <p>A través de espacios de reflexión, aprendizaje y conexión, Code 4 DEI promueve el impacto de la diversidad de género en la innovación y la productividad, creando vínculos entre empresas y talento femenino diverso, y ampliando el acceso a temas tecnológicos de vanguardia.</p>

    <p>En Code 4 DEI promovemos un entorno donde la identidad de género, orientación sexual, discapacidad, raza, etnia, edad, religión o situación económica no sean barreras, sino elementos que enriquecen la diversidad del sector y fortalezca su transformación.</p>

    <p>Más que una iniciativa, Code 4 DEI es un compromiso con el cambio. Es un esfuerzo por transformar la industria desde la base, creando oportunidades reales donde todas las personas puedan aprender, crecer y contribuir activamente a la transformación digital.</p>

    <br>
  </div>
</section>

{{ end }}
<!-- /banner -->

<!-- event_info  -->
{{ if $data.homepage.event_info.enable }}
{{ partial "event_info.html" . }}
{{ end }}
<!-- /event_info -->

<!-- blog 
{{ if $data.homepage.event_info.enable }}
{{ partial "blog.html" . }}
{{ end }} 
 /blog -->


<!-- sponsor 
{{ if $data.sponsors }}
<section class="section-sponsors section" style="margin-top: -65px;">
    <br><br>
    <div class="container">
      <center>
        <h1>Patrocinadores</h1>
      </center>
      <br><br>
        {{ $data := index .Site.Data }}
        {{ with $data.sponsors }}
        {{ range .sponsor_group }}
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
              {{ with .title }}
              <h2 style="color: black; ">{{ . }}</h2>
           <br><br> 
                {{ end}}
            </div>
            <br>
            <div class="sponsor-strip {{ .slug }}" >
                {{ range .sponsor }}
                <div  class="sponsor-item" >
                    {{ if and (ne .link "") (ne .link "#") }}
                    <a href="{{ .link }}" target="_blank"><img src="{{ .logo | relURL }}" alt="" class="img-fluid"></a>
                    {{ else }}
                    <img src="{{ .logo | relURL }}" alt="" class="img-fluid">
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <br>
        </div>
        {{ end }}
        {{ if .sponsorship.enable }}
        {{ with .sponsorship }}
        <div class="col-lg-12">
            <a href="{{ .link | safeURL }}" class="btn btn-banner2" target="_blank">{{ .label }} <i
                    class="fas fa-arrow-circle-right"></i></a>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
 /sponsor -->




{{ end }}