{{ define "main" }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Borel&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

<div>

  <div class="hackeando-hero">
     <img src="/images/hackeando-hero-2025.png" class="img-fluid mx-auto d-block">
     <div class="parent">
        <div class="div1">
          <a href="https://www.eventbrite.com.mx/e/hackeando-barreras-por-la-inclusion-tickets-1373862101529?aff=oddtdtcreator" target="_blank">
          <button type="button" class="btn hackeando-registro" style="background-color: #000000 !important;">¡<p class="d-inline borel-regular">Regístrate</p> ahora!</button>
          </a> 
        </div>
      </div>
  </div>

      <div class="hackeando-hero-mobile">
          <a href="https://www.eventbrite.com.mx/e/hackeando-barreras-por-la-inclusion-tickets-1373862101529?aff=oddtdtcreator" target="_blank">
            <img src="/images/hackeando-hero-mobile-2025.png" class="img-fluid mx-auto">
          </a>
      </div>

  <br>

<div>
    <h1 class="text-center">¿De qué se trata el <p class="d-inline borel-regular">evento</p>?</h1>

    <div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/images/rompecabezas-banner.png" class="img-fluid mx-auto d-block" width="350px">
    </div>
    <div class="col-md-8 acerca-hackeando">
      <h3>Hackeando barreras por la inclusión es un congreso donde exploraremos cómo la inclusión laboral de personas con discapacidad no solo es un acto de equidad social, sino una estrategia poderosa para el éxito de tu negocio.</h3>
    </div>
  </div>
</div>
</div>

<br>

<!-- Acordeon 1-->
<div>
    <h1 class="text-center">¿Qué <p class="d-inline borel-regular">descubrirás</p>?</h1>
    <br>
    <div class="accordion" id="accordionExample">
  <div class="">
    <div class="" id="headingOne">
      <h2 class="mb-0">
        <button class="btn-block text-center borel-regular" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #E12178 !important; padding-top: 40px;">
          <h1 style="color: #F6F6D6 !important;">Acceso a una Fuerza Laboral Talentosa:</h1>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <h3 class="text-center" style="padding: 30px;">Conoce cómo las personas con discapacidad aportan habilidades únicas, como creatividad y resolución de problemas, que enriquecen cualquier equipo.</h3>
      </div>
    </div>
  </div>
  <div class="">
    <div class="" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn-block text-center collapsed borel-regular" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="background-color: #3C625C !important; padding-top: 40px;">
          <h1 style="color: #F6F6D6 !important;">Impacto Económico:</h1>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <h3 class="text-center" style="padding: 30px;">Entiende cómo la inclusión contribuye al crecimiento económico, aumentando la productividad y dinamizando la economía local y nacional.</h3>
      </div>
    </div>
  </div>
  <div class="">
    <div class="" id="headingThree">
      <h2 class="mb-0">
        <button class="btn-block text-center collapsed borel-regular" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="background-color: #E48105 !important; padding-top: 40px;">
          <h1 style="color: #F6F6D6 !important;">Mejora del Clima Laboral:</h1>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <h3 class="text-center" style="padding: 30px;">Descubre cómo la diversidad aumenta la motivación y la satisfacción del personal, creando un ambiente de trabajo más positivo y colaborativo.</h3>
      </div>
    </div>
  </div>
  <div class="">
    <div class="" id="headingFour">
      <h2 class="mb-0">
        <button class="btn-block text-center collapsed borel-regular" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseFour" style="background-color: #000000 !important; padding-top: 40px;">
          <h1 style="color: #F6F6D6 !important;">Incentivos Fiscales:</h1>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <h3 class="text-center" style="padding: 30px;">Aprende sobre los beneficios fiscales, deducciones y subvenciones disponibles para las empresas que apuestan por la inclusión.</h3>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /Acordeon 1-->

<br>

<div>

    <div class="container text-center">

      <h4 class="mb-3">Acompáñanos a un espacio de diálogo con expertos y organizaciones especializadas, donde analizaremos los beneficios económicos, sociales y organizacionales de construir equipos más inclusivos.</h4>

      <img src="/images/impacto.png" class="img-fluid">

      <h4 class="mt-4 mb-3">Esta es una iniciativa de Impact Click, una fundación sin fines de lucro que impulsa proyectos tecnológicos con impacto social y de Code4DEI una iniciativa de Software Gurú que tiene el objetivo de promover una industria tecnológica diversa e incluyente.</h4>

      <h4 class="mb-4">¡No te pierdas esta oportunidad de transformar tu empresa y contribuir a un México más equitativo y próspero!</h4>

</div>

<br>

<!-- Acordeon 2-->
<div>
    <div class="accordion" id="accordionExample">
  <div class="">
    <div class="" id="headingFive">
      <h2 class="mb-0">
        <button class="btn-block text-center borel-regular" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" style="background-color: #E12178 !important; padding-top: 40px;">
          <h1 style="color: #F6F6D6 !important;">Conoce la agenda general:</h1>
        </button>
      </h2>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
      {{ partial "hackeando-schedule.html" . }}
      </div>
    </div>
  </div>
  <div class="">
    <div class="" id="headingSix">
      <h2 class="mb-0">
        <button class="btn-block text-center collapsed borel-regular" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="background-color: #3C625C !important; padding-top: 40px;">
          <h1 style="color: #F6F6D6 !important;">Conoce a los speakers confirmados:</h1>
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div>
        {{ partial "speakers-confirmados.html" . }}
      </div>
    </div>
  </div>

</div>
</div>
<!-- /Acordeon 2-->

<br>

<!-- Sponsors-->
<div>
    <h1 class="text-center">Fue posible <p class="d-inline borel-regular">gracias a</p></h1>

    {{ partial "sponsor.html" . }}

</div>
<!-- /Sponsors-->

<div>
    <h1 class="text-center">Consulta nuesto <p class="d-inline borel-regular"><a href="/../files/prospectus_hackeando_barreras_por_la_inclusion_v1.3.pdf" target="_blank">prospectus</a></p></h1>

    <h4 class="text-center mt-4 mb-4">¿Te interesa apoyar el evento o conocer más detalles?</h4>

    <h4 class="text-center mb-4">📩 Escríbenos a <a href="mailto:info@code4dei.com" style="color: #E12178;">info@code4dei.com</a></h4>
    
</div>

</div>


{{ end }}