
.event-info{
    background-image: url(/images/background-hero.png);
    background-size: cover;
	background-position: center;
    
}




.event-content.title1{
    color: #E7247B;
    font-size: 3em;
}



.event-content.title2{
    color: #5BB88D;
    font-size: 3em;
   }

.seccion-1{
    padding-right: 120px;
    line-height: 40px;
    text-align: right;
   
    margin-top: -30px;

    @media (max-width: 575px) {
        padding-right: 0px;
        padding: 20px;
        text-align: center;
        font-size: 0.8em;
        
        }
}

.seccion-2{
    padding-left: 120px;
    line-height: 40px;
    text-align: left;
    
    margin-top: -30px;

    @media (max-width: 575px) {
        padding-left: 0px;
        padding: 20px;
        text-align: center;
        font-size: 0.8em;
        }
}

.mancha{
    @media (max-width: 575px) {
    display: none;
    }
}